{% extends "core/base.html" %}
{% load static %}

{% block title %}
    {{ title }}
{% endblock title %}

{% block breadcrumb %}
    {% include "core/breadcrumb.html" with breadcrumb=title %}
{% endblock breadcrumb %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            {% include "core/toaster.html" %}
        </div>
    </div>
    {% if students %}
        <div class="row justify-content-end">
            <div class="col-md-3">
                <form action="" method="GET" id="form-per-page">
                    <div class="form-group">
                        <select name="per-page" id="per-page" class="form-select" onchange="this.form.submit()">
                            <option value="">Records Per Page</option>
                            <option value="5" {% if per_page == 5 %}selected{% endif %}>5</option>
                            <option value="10" {% if per_page == 10 %}selected{% endif %}>10</option>
                            <option value="20" {% if per_page == 20 %}selected{% endif %}>20</option>
                            <option value="50" {% if per_page == 50 %}selected{% endif %}>50</option>
                            <option value="100" {% if per_page == 100 %}selected{% endif %}>100</option>
                        </select>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            {% for student in students %}
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-header">
                            <div class="d-flex">
                                <div class="flex-shrink-0">
                                    <img src="{{ student.student_image.url }}" alt="{{ student.student_image.url }}" class="wid-40 rounded-circle">
                                </div>
                                <div class="flex-grow-1 mx-3">
                                    <h6 class="mb-1">{{ student.student_first_name | lower | capfirst }} {{ student.student_middle_name | default_if_none:"" | lower | capfirst }} {{ student.student_last_name | lower | capfirst }}</h6>
                                    <p class="text-muted text-sm mb-0">{{ student.student_semester | lower | capfirst }} Semester</p>
                                </div>
                                <div class="dropdown">
                                    <a class="avtar avtar-s btn-link-secondary dropdown-toggle arrow-none" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="ti ti-dots-vertical f-18"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-end">
                                        {% if perms.student.view_student %}
                                            <a class="dropdown-item" href="{% url 'get-student' student.id %}">View</a>
                                        {% endif %}

                                        {% if perms.student.change_student %}
                                            <a class="dropdown-item" href="{% url 'update-student' student.id %}">Update</a>
                                        {% endif %}

                                        {% if perms.student.delete_student %}
                                            <a class="dropdown-item" href="{% url 'delete-student' student.id %}">Delete</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row g-2">
                                <div class="col-md-6">
                                    <div class="d-inline-flex align-items-center justify-content-start w-100">
                                        <i class="ti ti-user"></i>
                                        <p class="mb-0 ms-2"> {{ student.student_gender | lower | capfirst }}</p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="d-inline-flex align-items-center justify-content-start w-100">
                                        <i class="ti ti-phone"></i>
                                        <p class="mb-0 ms-2"> {{ student.student_phone_number }}</p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="d-inline-flex align-items-center justify-content-start w-100">
                                        <i class="ti ti-calendar"></i>
                                        <p class="mb-0 ms-2"> {{ student.student_entry_year }}</p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="d-inline-flex align-items-center justify-content-start w-100">
                                        <i class="ti ti-calendar"></i>
                                        <p class="mb-0 ms-2"> {{ student.student_birth_date | date:"d/M/Y" }}</p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="d-inline-flex align-items-center justify-content-start w-100">
                                        <i class="ti ti-map-pin"></i>
                                        <p class="mb-0 ms-2"> {{ student.student_city | lower | capfirst }}</p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="d-inline-flex align-items-center justify-content-start w-100">
                                        <i class="ti ti-map-pin"></i>
                                        <p class="mb-0 ms-2"> {{ student.student_state | lower | capfirst }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-md-12">
                {% include "core/pagination-link.html" with page_object=students %}
            </div>
        </div>
    {% else %}
        <div class="row">
            <div class="col-md-12">
                {% include "core/no-data-found.html" %}
            </div>
        </div>
    {% endif %}
{% endblock content %}