*{
    margin: 0;
    padding: 0;
}

.logo-link{
    text-decoration: none;
    margin-top: 0.5rem;
}

.logo-text {
    font-size: 1rem;
    font-weight: bold;
    margin-top: 1rem;
}

.logo-image{
    width:3rem;
    height: 3rem;
    border-radius: 50%;
}

.scaled-logo-text {
  transform: scaleX(1) scaleY(3); /* Horizontal squish, vertical stretch */
  display: inline-block;
}