{% extends "core/base.html" %}
{% load static %}

{% block title %}
    {{ title }}
{% endblock title %}

{% block breadcrumb %}
    {% include "core/breadcrumb.html" with breadcrumb=title %}
{% endblock breadcrumb %}

{% block content %}
    <div class="row">
        <div class="offset-3 col-6">
            <div class="card">
                <div class="card-body">
                    <form action="" method="POST" novalidate>
                        {% csrf_token %}
                        <h3 class="mb-4 text-center fw-bold">{{ title }}</h3>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group mb-3">
                                    {{ form.old_password.label_tag }}
                                    {{ form.old_password }}
                                    <div class="text-danger small">
                                        {{ form.old_password.errors | striptags }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group mb-3">
                                    {{ form.new_password1.label_tag }}
                                    {{ form.new_password1 }}
                                    <div class="text-danger small">
                                        {{ form.new_password1.errors | striptags }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group mb-3">
                                    {{ form.new_password2.label_tag }}
                                    {{ form.new_password2 }}
                                    <div class="text-danger small">
                                        {{ form.new_password2.errors | striptags }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <a type="button" id="cancel-button" class="btn btn-outline-warning float-start" href="{% url 'add-student' %}">Cancel</a>
                                <button type="submit" id="login-button" class="btn btn-outline-primary float-end">Change</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{%block notification %}
    {% include "core/notification.html" with module="User" %}
{% endblock notification %}