{% extends "core/authbase.html" %}
{% load static %}

{% block title %}
    {{ title }}
{% endblock title %}

{% block content %}
    <div class="card my-5">
        <div class="card-body">
            <form action="" method="POST" novalidate>
                {% csrf_token %}
                <h3 class="mb-4 text-center fw-bold">{{ title }}</h3>
                <div class="row">
                    <div class="col-12">
                        <div class="form-group mb-3">
                            {{ form.old_password.label_tag }}
                            {{ form.old_password }}
                            <div class="text-danger small">
                                {{ form.old_password.errors | striptags }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="form-group mb-3">
                            {{ form.new_password1.label_tag }}
                            {{ form.new_password1 }}
                            <div class="text-danger small">
                                {{ form.new_password1.errors | striptags }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="form-group mb-3">
                            {{ form.new_password2.label_tag }}
                            {{ form.new_password2 }}
                            <div class="text-danger small">
                                {{ form.new_password2.errors | striptags }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 d-flex justify-content-between align-items-end">
                        <h5 class="text-secondary f-w-400"><a href="{% url 'login' %}">Login?</a> </h5>
                        <button type="submit" id="login-button" class="btn btn-outline-primary float-end">Reset Password</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}

{%block notification %}
    {% include "core/notification.html" with module="Auth" %}
{% endblock notification %}