{% extends "core/authbase.html" %}
{% load static %}

{% block title %}
    {{ title }}
{% endblock title %}

{% block content %}
    <div class="card my-5">
        <div class="card-body">
            <h3 class="mb-4 text-center fw-bold">{{ title }}</h3>
            <p class="text-center">We have emailed you instructions for setting your password. If they have not arrived in a few minutes, check your spam folder.</p>
            <div class="row">
                <div class="col-md-12">
                    <a href="{% url 'login' %}" id="login-button" class="btn btn-outline-primary float-end">Back to Login</a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block notification %}
    {% include "core/notification.html" with module="Auth" %}
{% endblock notification %}