{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'core/assets/images/student-small-logo.jpg' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500;600;700&display=swap" id="main-font-link">
    <link rel="stylesheet" href="{% static 'core/assets/fonts/tabler-icons.min.css' %}" >
    <link rel="stylesheet" href="{% static 'core/assets/fonts/feather.css' %}" >
    <link rel="stylesheet" href="{% static 'core/assets/fonts/fontawesome.css' %}" >
    <link rel="stylesheet" href="{% static 'core/assets/css/plugins/notifier.css' %}">
    <link rel="stylesheet" href="{% static 'core/assets/fonts/material.css' %}" >
    <link rel="stylesheet" href="{% static 'core/assets/css/style.css' %}" id="main-style-link" >
    <link rel="stylesheet" href="{% static 'core/assets/css/style-preset.css' %}" >
    <link rel="stylesheet" href="{% static 'core/assets/css/all.min.css' %}" />
    <link rel="stylesheet" href="{% static 'core/assets/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'core/assets/css/core.css' %}" />
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    {% block sidebar %}
        {% include "core/sidebar.html" %}
        {% endblock sidebar %}
        
    {% block navbar %}
        {% include "core/navbar.html" %}
    {% endblock navbar %}

    <div class="pc-container">
        <div class="pc-content">
            {% block breadcrumb %}{% endblock breadcrumb %}
            {% block content %}{% endblock content %}
        </div>
    </div>

    {% block footer %}
        {% include "core/footer.html" %}
    {% endblock footer %}

    <script type="text/javascript" src="{% static 'core/assets/js/jquery.js' %}"></script>
    <script src="{% static 'core/assets/js/plugins/apexcharts.min.js' %}"></script>
    <script src="{% static 'core/assets/js/pages/dashboard-default.js' %}"></script>
    <script src="{% static 'core/assets/js/plugins/popper.min.js' %}"></script>
    <script src="{% static 'core/assets/js/plugins/simplebar.min.js' %}"></script>
    <script src="{% static 'core/assets/js/plugins/bootstrap.min.js' %}"></script>
    <script src="{% static 'core/assets/js/fonts/custom-font.js' %}"></script>
    <script src="{% static 'core/assets/js/pcoded.js' %}"></script>
    <script src="{% static 'core/assets/js/plugins/feather.min.js' %}"></script>
    <script src="{% static 'core/assets/js/plugins/notifier.js' %}"></script>
	{% block notification %}{% endblock notification %}
    {% block javascript %}{% endblock javascript %}
</body>
</html>