{% load static %}

<footer class="pc-footer">
    <div class="footer-wrapper container-fluid">
        <div class="row">
            <div class="col-md-12">
                <p class="m-0 text-center">Designed by <a href="https://themewagon.github.io/Mantis-Bootstrap/dashboard/index.html" target="_blank"> Mantis Admin Panel</a> and developed by <a href="https://www.linkedin.com/in/chinmaymishra0609/" target="_blank">Chinmay Mishra (Software Engineer)</a> using Python with Django.</p>
            </div>
        </div>
    </div>
</footer>