{% load static %}

<footer class="pc-footer">
    <div class="footer-wrapper container-fluid">
        <div class="row">
            <div class="col-md-12">
                <p class="m-0">Designed by <a href="https://themewagon.github.io/Mantis-Bootstrap/dashboard/index.html" target="_blank"> Mantis Admin Panel</a> and developed by <a href="https://www.linkedin.com/in/chinmaymishra0609/" target="_blank">Chinmay Mishra (Software Engineer)</a> using Python with Django.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="list-inline footer-link mb-0 float-end">
                    <li class="list-inline-item">
                        <a href="https://www.linkedin.com/in/chinmaymishra0609/" target="_blank"><span class="pc-micon"><i class="ti ti-brand-linkedin"></i></span></a>
                        <a href="https://www.facebook.com/chinmaymishra0609/" target="_blank"><span class="pc-micon"><i class="ti ti-brand-facebook"></i></span></a>
                        <a href="https://github.com/chinmaymishra0609/smsdjango" target="_blank"><span class="pc-micon"><i class="ti ti-brand-github"></i></span></a>
                        <a href="https://x.com/chinmaymishra06" target="_blank"><span class="pc-micon"><i class="ti ti-brand-twitter"></i></span></a>
                        <a href="https://www.instagram.com/chinmaymishra0609/" target="_blank"><span class="pc-micon"><i class="ti ti-brand-instagram"></i></span></a>
                        <a href="https://wa.me/8690736210" target="_blank"><span class="pc-micon"><i class="ti ti-brand-whatsapp"></i></span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>