{% load static %}

<nav class="pc-sidebar">
    <div class="navbar-wrapper">
        <div class="m-header">
            <a href="#" class="b-brand text-primary d-flex justify-content-center align-items-center gap-2 logo-link">
                <img src="{% static 'core/assets/images/student-small-logo.jpg' %}" class="logo-image" alt="student-small-logo.jpg">
                <p class="logo-text">Student Manager</p>
            </a>
        </div>
        <div class="navbar-content">
            <ul class="pc-navbar">
                <li class="pc-item">
                    <a href="{% url 'dashboard' %}" class="pc-link">
                        <span class="pc-micon"><i class="ti ti-dashboard"></i></span>
                        <span class="pc-mtext">Dashboard</span>
                    </a>
                </li>
                {% if perms.student.add_student %}
                    <li class="pc-item">
                        <a href="{% url 'add-student' %}" class="pc-link">
                            <span class="pc-micon"><i class="ti ti-user"></i></span>
                            <span class="pc-mtext">Add Student</span>
                        </a>
                    </li>
                {% endif %}
                {% if perms.student.view_student or perms.student.change_student or perms.student.delete_student %}
                <li class="pc-item">
                    <a href="{% url 'all-students' %}" class="pc-link">
                        <span class="pc-micon"><i class="ti ti-users"></i></span>
                        <span class="pc-mtext">All Students</span>
                    </a>
                </li>
                {% endif %}
                {% if perms.auth.add_user %}
                <li class="pc-item">
                    <a href="{% url 'add-user' %}" class="pc-link">
                        <span class="pc-micon"><i class="ti ti-user"></i></span>
                        <span class="pc-mtext">Add User</span>
                    </a>
                </li>
                {% endif %}
                {% if perms.auth.view_user or perms.auth.change_user or perms.auth.delete_user %}
                    <li class="pc-item">
                        <a href="{% url 'all-users' %}" class="pc-link">
                            <span class="pc-micon"><i class="ti ti-users"></i></span>
                            <span class="pc-mtext">All Users</span>
                        </a>
                    </li>
                {% endif %}
                <li class="pc-item pc-hasmenu">
                    <a href="#!" class="pc-link">
                        <span class="pc-micon"><i class="ti ti-code"></i></span>
                        <span class="pc-mtext">About Developer</span>
                        <span class="pc-arrow"><i data-feather="chevron-right"></i></span>
                    </a>
                    <ul class="pc-submenu">
                        <li class="pc-item">
                            <a href="https://www.linkedin.com/in/chinmaymishra0609/" target="_blank" class="pc-link">
                                <span class="pc-micon"><i class="ti ti-brand-linkedin"></i></span>
                                <span class="pc-mtext">LinkedIn</span>
                            </a>
                        </li>
                        <li class="pc-item">
                            <a href="https://www.facebook.com/chinmaymishra0609/" target="_blank" class="pc-link">
                                <span class="pc-micon"><i class="ti ti-brand-facebook"></i></span>
                                <span class="pc-mtext">Facebook</span>
                            </a>
                        </li>
                        <li class="pc-item">
                            <a href="https://github.com/chinmaymishra0609/smsdjango" target="_blank" class="pc-link">
                                <span class="pc-micon"><i class="ti ti-brand-github"></i></span>
                                <span class="pc-mtext">Github</span>
                            </a>
                        </li>
                        <li class="pc-item">
                            <a href="https://x.com/chinmaymishra06" target="_blank" class="pc-link">
                                <span class="pc-micon"><i class="ti ti-brand-twitter"></i></span>
                                <span class="pc-mtext">Twitter</span>
                            </a>
                        </li>
                        <li class="pc-item">
                            <a href="https://www.instagram.com/chinmaymishra0609/" target="_blank" class="pc-link">
                                <span class="pc-micon"><i class="ti ti-brand-instagram"></i></span>
                                <span class="pc-mtext">Instagram</span>
                            </a>
                        </li>
                        <li class="pc-item">
                            <a href="https://wa.me/8690736210" target="_blank" class="pc-link">
                                <span class="pc-micon"><i class="ti ti-brand-whatsapp"></i></span>
                                <span class="pc-mtext">WhatsApp</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>