{% extends "core/authbase.html" %}
{% load static %}

{% block title %}
    {{ title }}
{% endblock title %}

{% block content %}
    <div class="">
        <div class="d-flex justify-content-center align-items-center">
            <img class="img-fluid" src="{% static 'core/assets/images/pages/Error404.png' %}" alt="Error404.png">
        </div>
        <div class="text-center">
            <a type="button" class="btn btn-outline-primary" href="{% url 'login' %}">Go Back</a>
        </div>
    </div>
{% endblock content %}

{% block footer %}{% endblock footer %}

{% block notification %}
    {% include "core/notification.html" with module="Auth" %}
{% endblock notification %}